{% extends "admin.html.twig" %}
{% block title %} - Events{% endblock %}

{% block content %}

<p id="usersmanage">Manage Events<p>

<div id="admin_showall">
    <table class="table user-list">
        <thead>
            <tr>
                <th><span>eventID</span></th>
                <th><span>Name</span></th>
                <th><span>Date</span></th>
                <th><span>Price</span></th>
                <th><span>Capacity</span></th>
                <th><span>Attendees</span></th>
            </tr>
        </thead>
{% for event in events %}
        <tbody>
            <tr>
                <td>
                    <span>{{ events.eventId }}</span>
                </td>
                <td>
                    <span>{{ events.eventName }}</span>
                </td>
                <td>
                    <span>{{ events.date }}</span>
                </td>
                <td>
                    <span>{{ events.price }}</span>
                </td>
                <td>
                    <span>{{ events.capacity }}</span>
                </td>
                <td>
                    <span>{{ events.attendeesCount }}</span>
                </td>
                <td>
                    <span id="info">
                    <a href="/updateevent/{{ events.eventId }}" class="updateEvent"><i class="fa fa-search-plus fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                    <a href="/updateevent/{{ events.eventId }}" class="updateEvent"><i class="fa fa-edit fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                    <a href="#" class="deleteEvent" data-user-id="{{ events.eventId }}"><i class="fa fa-trash fa-fw" style="color: #444;"></i></a>
                    </span>
                </td>
            </tr>
        </tbody>
{% endfor %}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
       $(".deleteEvent").on("click", function(e) {
            e.preventDefault();
            var eventId = $(this).data("id");
            if (confirm("Delete this event?")) {
                $.ajax({
                    type: "DELETE",
                    url: "/admin/events/" + eventId,
                    data: {eventId: eventId},
                    success: function() {
                        // reload the page after successful deletion
                        window.location.reload(); 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            }
        });
    });
</script>


{% endblock content %}


