{% extends "admin.html.twig" %}
{% block title %} - Users{% endblock %}

{% block content %}

<p id="usersmanage">
Manage Users<br>
<a href="{{ url_for('addUser') }}">Add a new user</a>
<p>

<div id="admin_showall">
    <table class="table user-list">
        <thead>
            <tr>
                <th><span>userID</span></th>
                <th><span>role</span></th>
                <th><span>username</span></th>
                <th><span>Password</span></th>
                <th><span>First name</span></th>
                <th><span>Last name</span></th>
                <th><span>Phone</span></th>
                <th><span>Email</span></th>
            </tr>
        </thead>
{% for user in users %}
        <tbody>
            <tr>
                <td>
                    <span>{{ user.userId }}</span>
                </td>
                <td>
                    <span>{{ user.role }}</span>
                </td>
                <td>
                    <span>{{ user.username }}</span>
                </td>
                <td>
                    <span>{{ user.password }}</span>
                </td>
                <td>
                    <span>{{ user.firstName }}</span>
                </td>
                <td>
                    <span>{{ user.lastName }}</span>
                </td>
                <td>
                    <span>{{ user.phoneNumber }}</span>
                </td>
                <td>
                    <span>{{ user.email }}</span>
                </td>
                <td>
                    <span id="info">
                    <a href="/updateuser/{{ user.userId }}" class="updateUser"><i class="fa fa-edit fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                    <a href="#" class="deleteUser" data-user-id="{{ user.userId }}"><i class="fa fa-trash fa-fw" style="color: #444;"></i></a>
                    </span>
                </td>
            </tr>
        </tbody>
{% endfor %}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#btnAddUser").on("click", function(event) {
            // prevent default form submission behavior
            event.preventDefault(); 
            $.ajax({
                type: "POST",
                url: "/admin/adduser",
                success: function() {
                    window.location.href = "/admin/adduser"; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // log any errors to the console
                    console.error(errorThrown);
                }
            });
        });
        $(".updateUser").on("click", function(event) {
            // prevent default form submission behavior
            event.preventDefault(); 
            var userId = $(this).attr("href").split('/')[2]; // extract userId from href attribute
            $.ajax({
                type: "POST",
                url: "/admin/updateuser/" + userId,
                success: function() {
                    window.location.href = "/admin/updateuser/" + userId; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // log any errors to the console
                    console.error(errorThrown);
                }
            });
        });
        $(".deleteUser").on("click",function(){
            var userId = $(this).data("user-id");
            check = confirm("Delete this user?");
            if(check){
                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: {userId: userId},
                    success: function(response) {
                        console.log(response);
                        window.location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // log any errors to the console
                        console.error(errorThrown);
                    }
                });
            }
            return false;
        });
    });
</script>


{% endblock content %}


