{% extends "admin.html.twig" %}
{% block title %} - Users{% endblock %}

{% block content %}

<div id="admin_showall">
    <h2>Manage Users</h2>
    <br>
    <button id="btnAddUser" class="btnAddUser" type="submit">Add User</button>
    <br><br>

    <ul id="userList">
    {% for user in users %}
        <li class="list-group-item">
            <span>{{ user.userId }}</span>&nbsp;&nbsp;
            <span>{{ user.username }}</span>&nbsp;&nbsp;
            <span>{{ user.firstName }}</span>&nbsp;&nbsp;
            <span>{{ user.lastName }}</span>&nbsp;&nbsp;
            <span>{{ user.phoneNumber }}</span>&nbsp;&nbsp;
            <span>{{ user.email }}</span>&nbsp;&nbsp;
            <span class="float-right">
                <a href="/updateuser/{{ user.userId }}" class="updateUser"><i class="fa fa-edit fa-fw"></i></a>&nbsp;&nbsp;
                <a href="#" class="deleteUser" data-user-id="{{ user.userId }}"><i class="fa fa-trash fa-fw"></i></a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#btnAddUser").on("click", function(event) {
            // prevent default form submission behavior
            event.preventDefault(); 
            $.ajax({
                type: "POST",
                url: "/admin/adduser",
                success: function() {
                    window.location.href = "/admin/adduser"; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // log any errors to the console
                    console.error(errorThrown);
                }
            });
        });
        $(".updateUser").on("click", function(event) {
            // prevent default form submission behavior
            event.preventDefault(); 
            var userId = $(this).attr("href").split('/')[2]; // extract userId from href attribute
            $.ajax({
                type: "POST",
                url: "/admin/updateuser/" + userId,
                success: function() {
                    window.location.href = "/admin/updateuser/" + userId; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // log any errors to the console
                    console.error(errorThrown);
                }
            });
        });
        $(".deleteUser").on("click",function(){
            var userId = $(this).data("user-id");
            check = confirm("Delete this user?");
            if(check){
                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: {userId: userId},
                    success: function(response) {
                        console.log(response);
                        window.location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // log any errors to the console
                        console.error(errorThrown);
                    }
                });
            }
            return false;
        });
    });
</script>


{% endblock content %}


