{% extends "admin.html.twig" %}
{% block title %} - Events{% endblock %}

{% block content %}



<p id="usersmanage">Manage Events<p>
<section class="container text-center">
    <button id="btnAddUser" class="btnAddUser" style="margin-top:0%; margin-bottom:2%">ADD EVENT</button>
</section>
<div id="addUser-form-container">
</div>  

<div id="admin_showall">
    <table class="table user-list" id="tbList">
        <thead>
            <tr>
                <th><span>eventID</span></th>
                <th><span>Name</span></th>
                <th><span>Date</span></th>
                <th><span>Sart Time</span></th>
                <th><span>End Time</span></th>
                <th><span>Price</span></th>
                <th><span>Organizers</span></th>
                <th><span>Capacity</span></th>
                <th><span>Attendees</span></th>
            </tr>
        </thead>
    {% for event in events %}
            <tbody>
                <tr>
                    <td>
                        <span>{{ event.eventId }}</span>
                    </td>
                    <td>
                        <span>{{ event.eventName }}</span>
                    </td>
                    <td>
                        <span>{{ event.date }}</span>
                    </td>
                    <td>
                        <span>{{ event.startTime }}</span>
                    </td>
                    <td>
                        <span>{{ event.endTime }}</span>
                    </td>
                    <td>
                        <span>{{ event.price }}</span>
                    </td>
                    <td>
                        <span>{{ event.organizer }}</span>
                    </td>
                    <td>
                        <span>{{ event.capacity }}</span>
                    </td>
                    <td>
                        <span>{{ event.attendeesCount }}</span>
                    </td>
                    <td>
                        <span id="info">
                        <a href="/updateevent/{{ event.eventId }}" class="updateEvent"><i class="fa fa-edit fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                        <a href="#" class="deleteEvent" data-target="#confirm-delete-modal" data-user-id="{{ event.eventId }}"><i class="fa fa-trash fa-fw" style="color: #444;"></i></a>
                        </span>
                    </td>
                </tr>
            </tbody>
    {% endfor %}

    <div class="modal" id="confirm-delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Delete this event?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-success" id="confirm-delete-button">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    </table>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#btnAddUser").click(function() {
            $(this).hide();
            $.ajax({
            url: "/admin/addevent",
            success: function(data) {
                $("#addUser-form-container").html(data);
            }
            });
        }); 
        $(".updateEvent").on("click", function(event) {
            event.preventDefault(); 
            var eventId = $(this).attr("href").split('/')[2]; // extract eventId from href attribute
            $.ajax({
                type: "POST",
                url: "/admin/updateevent/" + eventId,
                success: function() {
                    window.location.href = "/admin/updateevent/" + eventId; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error(errorThrown);
                }
            });
        });
        $(".deleteEvent").on("click", function(e) {
            e.preventDefault();
            var eventId = $(this).data("id");
            var modalId = $(this).data("target");
            $(modalId).modal("show");
            $("#confirm-delete-button").on("click", function() { 
                $(modalId).modal("hide"); 
                $.ajax({
                    type: "DELETE",
                    url: "/admin/events/" + eventId,
                    data: {eventId: eventId},
                    success: function() {
                        window.location.href = "/admin/events" 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            });
        });
    });
</script>


{% endblock content %}


