{% extends "admin.html.twig" %}
{% block title %} - Users{% endblock %}

{% block content %}

<p id="usersmanage">Manage Users<p>
<section class="container text-center">
    <button id="btnAddUser" class="btnAddUser" style="margin-top:0%; margin-bottom:2%">ADD USER</button>
</section>
<div id="addUser-form-container">
</div>  

<div id="admin_showall">
    <table class="table user-list" id="tbList">
        <thead>
            <tr>
                <th><span>userID</span></th>
                <th><span>role</span></th>
                <th><span>username</span></th>
                <th><span>Password</span></th>
                <th><span>First name</span></th>
                <th><span>Last name</span></th>
                <th><span>Phone</span></th>
                <th><span>Email</span></th>
            </tr>
        </thead>
    {% for user in users %}
        <tbody>
            <tr>
                <td>
                    <span>{{ user.userId }}</span>
                </td>
                <td>
                    <span>{{ user.role }}</span>
                </td>
                <td>
                    <span>{{ user.username }}</span>
                </td>
                <td>
                    <span>{{ user.password }}</span>
                </td>
                <td>
                    <span>{{ user.firstName }}</span>
                </td>
                <td>
                    <span>{{ user.lastName }}</span>
                </td>
                <td>
                    <span>{{ user.phoneNumber }}</span>
                </td>
                <td>
                    <span>{{ user.email }}</span>
                </td>
                <td>
                    <span id="info">
                    <a href="/updateuser/{{ user.userId }}" class="updateUser"><i class="fa fa-edit fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                    <a href="#" class="deleteUser" data-target="#confirm-delete-modal" data-id="{{ user.userId }}"><i class="fa fa-trash fa-fw" style="color: #444;"></i></a>
                    </span>
                </td>
            </tr>
        </tbody>

    {% endfor %}

    <div class="modal" id="confirm-delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Delete this user?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-success" id="confirm-delete-button">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#btnAddUser").click(function() {
            $(this).hide();
            $.ajax({
            url: "/admin/adduser",
            success: function(data) {
                $("#addUser-form-container").html(data);
            }
            });
        }); 
        $(".updateUser").on("click", function(event) {
            // prevent default form submission behavior
            event.preventDefault(); 
            var userId = $(this).attr("href").split('/')[2]; // extract userId from href attribute
            $.ajax({
                type: "POST",
                url: "/admin/updateuser/" + userId,
                success: function() {
                    window.location.href = "/admin/updateuser/" + userId; 
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // log any errors to the console
                    console.error(errorThrown);
                }
            });
        });
        $(".deleteUser").on("click", function(e) {
            e.preventDefault();
            var userId = $(this).data("id");
            var modalId = $(this).data("target");
            $(modalId).modal("show");
            $("#confirm-delete-button").on("click", function() { 
                $(modalId).modal("hide");
                $.ajax({
                    type: "DELETE",
                    url: "/admin/users/" + userId,
                    data: {userId: userId},
                    success: function() {
                        window.location.reload(); 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            });
        });
    });
</script>


{% endblock content %}


