{% extends "admin.html.twig" %}
{% block title %} - Events{% endblock %}

{% block content %}

<p id="usersmanage">Manage Events<p>

<div id="admin_showall">
    <table class="table user-list">
        <thead>
            <tr>
                <th><span>eventID</span></th>
                <th><span>Name</span></th>
                <th><span>Date</span></th>
                <th><span>Sart Time</span></th>
                <th><span>End Time</span></th>
                <th><span>Price</span></th>
                <th><span>Organizers</span></th>
                <th><span>Capacity</span></th>
                <th><span>Attendees</span></th>
            </tr>
        </thead>
{% for event in events %}
        <tbody>
            <tr>
                <td>
                    <span>{{ event.eventId }}</span>
                </td>
                <td>
                    <span>{{ event.eventName }}</span>
                </td>
                <td>
                    <span>{{ event.date }}</span>
                </td>
                <td>
                    <span>{{ event.startTime }}</span>
                </td>
                <td>
                    <span>{{ event.endTime }}</span>
                </td>
                <td>
                    <span>{{ event.price }}</span>
                </td>
                <td>
                    <span>{{ event.organizer }}</span>
                </td>
                <td>
                    <span>{{ event.capacity }}</span>
                </td>
                <td>
                    <span>{{ event.attendeesCount }}</span>
                </td>
                <td>
                    <span id="info">
                {#
                    <a href="#" class="checkEvent" data-user-id="{{ event.eventId }}"><i class="fa fa-search-plus fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                #}
                    <a href="#" class="updateEvent" data-user-id="{{ event.eventId }}"><i class="fa fa-edit fa-fw" style="color: #444;"></i></a>&nbsp;&nbsp;
                    <a href="#" class="deleteEvent" data-user-id="{{ event.eventId }}"><i class="fa fa-trash fa-fw" style="color: #444;"></i></a>
                    </span>
                </td>
            </tr>
        </tbody>
{% endfor %}

    </table>
    <br>
{# 
    <section class="container text-center">
        <button id="btnAddUser" class="btnAddUser" style="margin-top:0%; margin-bottom:7%;">ADD EVENT</button>
    </section>
#}

    <div id="addUser-form-container">
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $(".updateEvent").on("click", function() {
            var eventId = $(this).data("id");
            $.ajax({
                url: "/admin/events/" + eventId,
                data: {eventId: eventId},
                success: function(data) {
                    $("#addUser-form-container").html(data); 
                }
            });
        });
       $(".deleteEvent").on("click", function(e) {
            e.preventDefault();
            var eventId = $(this).data("id");
            if (confirm("Delete this event?")) {
                $.ajax({
                    type: "DELETE",
                    url: "/admin/events/" + eventId,
                    data: {eventId: eventId},
                    success: function() {
                        // reload the page after successful deletion
                        window.location.reload(); 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            }
        });
    });
</script>


{% endblock content %}


