{% extends "master.html.twig" %}
{% block title %}My Bookings{% endblock %}
{% block content %}
<div style="padding-bottom:20% ; background-color:#f6e3db">
<section class="eventlist">
  <div class="container" style="text-align: center;padding-bottom:2%">
    <h3 id="h3" class="animate__animated animate__bounce" style="font-size:50px;">My Bookings</h3>
  </div>
</section>
<section class="mybookings">
  <div class="container text-center">
    {% for booking in bookings %}
      <div class="row" id="mybookingInfoRows">
        <div class="col-3">
          <a href="/event/{{booking.eventId}}"
            ><img src="{{ booking.smallPhotoPath }}" alt="" style="width:100%"
          /></a>
        </div>

        <div class="col-6" id="bookingContent">
          <h4 id="h4" style="font-size:30px">Event: {{ booking.eventName }}</h4>
          <span><b>For:</b> {{ booking.firstName }} {{ booking.lastName }}</span><br>
          <span><b>Date:</b> {{ booking.date }} @ {{ booking.startTime }} - {{ booking.endTime }}</span><br>
          <span><b>Venue:</b> {{ booking.venue }}</span><br>
          <span><b>Price:</b> ${{ booking.price }}</span>
        </div>

        <div class="col-3" style="margin-left:-3%">
          {# <a href="/editMybooking/{{ booking.bookingId }}" class="editMyBooking"> #}
          <button class="editMyBooking" data-toggle="modal" data-target="#myModal" data-id="{{booking.bookingId}}">EDIT</button><br>
          <a href="#" class="cancelMyBooking" data-id="{{ booking.bookingId }}" data-target="#confirm-delete-modal"><button id="bcancel">CANCEL</button></a>
        </div>
      </div>
      
    {% endfor %}
    <div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit Booking Information</h4>
            </div>
            <div class="modal-body">
              <form id="book-event-form" action="/mybookings" method="post">
                <input type="hidden" name="bookingId" id="id">
                <label for="gender">Kid's Gender:</label><br>
                <input type="radio" id="boy" name="gender" value="boy" checked>
                <label for="boy">Boy</label>
                <input type="radio" id="girl" name="gender" value="girl">
                <label for="girl">Girl</label><br>
                <label for="firstName">Kid's First Name:</label><br>
                <input type="text" id="firstName" name="firstName"><br>
                <label for="lastName">Kid's Last Name:</label><br>
                <input type="text" id="lastName" name="lastName"><br>        
                <label for="birthday">Kid's Birthday:</label><br>
                <input type="date" id="birthday" name="birthday" style="width:185px">
            
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  id="updatesubmitbtn" > Submit</button>
              
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <div class="modal" id="confirm-delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Are you sure to cancel this booking?</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" id="confirm-delete-button">Confirm</button>
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    
                </div>
            </div>
        </div>
    </div>
  </div> 
</section>
</div>


<script>
  $(document).ready(function(){
    $(".cancelMyBooking").click(function(b) {
      b.preventDefault();
      var bookingId = $(this).data("id");
      console.log(bookingId)
      var modalId = $(this).data("target");
      $(modalId).modal("show");
      $("#confirm-delete-button").on("click", function() { 
        $(modalId).modal("hide");
        $.ajax({
          type: "DELETE",
          url: "/mybookings/" + bookingId,
          data: {bookingId: bookingId},
          success: function() {
              window.location.reload(); 
          },
          error: function(jqXHR, textStatus, errorThrown) {
              console.error(errorThrown);
          }
        });
      });
    });

    $(".editMyBooking").click(function() {
      $('#myModal').modal('show');
      var bookingId = $(this).data("id");
      $('#id').val(bookingId);
      
    });

    

    $('#updatesubmitbtn').click(function(booking){
      booking.preventDefault(); 
      var bookingId = $('#id').val();
      var firstName = $('#firstName').val();
      var lastName = $('#lastName').val();
      var birthday = $('#birthday').val();
      var gender = $('input[name="gender"]:checked').prop('value');
      $.ajax({
          type: "POST",
          url: "/mybookings" ,
          data:{bookingId: bookingId,
                firstName:firstName,
                lastName:lastName,
                birthday:birthday,
                gender:gender
          },
        
          success: function() {
              window.location.href = "/mybookings";
          },
          error: function(jqXHR, textStatus, errorThrown) {
              console.error(errorThrown);
          }
      });
      
    });  
  });
</script>
{% endblock content %}