{% extends "master.html.twig" %}
{% block title %}My Bookings{% endblock %}
{% block content %}
<div style="padding-bottom:20% ; background-color:#f6e3db">
<section class="eventlist">
  <div class="container" style="text-align: center;padding-bottom:2%">
    <h3 id="h3" class="animate__animated animate__bounce" style="font-size:50px;">My Bookings</h3>
  </div>
</section>
<section class="mybookings">
  <div class="container text-center">
    {% for booking in bookings %}
      <div class="row" id="mybookingInfoRows">
        <div class="col-3">
          <a href="/event/{{booking.eventId}}"
            ><img src="{{ booking.smallPhotoPath }}" alt="" style="width:100%"
          /></a>
        </div>

        <div class="col-6" id="bookingContent">
          <h4 id="h4" style="font-size:30px">Event: {{ booking.eventName }}</h4>
          <span><b>For:</b> {{ booking.firstName }} {{ booking.lastName }}</span><br>
          <span><b>Date:</b> {{ booking.date }} @ {{ booking.startTime }} - {{ booking.endTime }}</span><br>
          <span><b>Venue:</b> {{ booking.venue }}</span><br>
          <span><b>Price:</b> ${{ booking.price }}</span>
          
        </div>

        <div class="col-3" style="margin-left:-3%">
          <a href="/editMybooking/{{ booking.bookingId }}" class="editMyBooking"><button>EDIT</button></a><br>
          <a href="#" class="cancelMyBooking" data-id="{{ booking.bookingId }}"><button id="bcancel">CANCEL</button></a>
        </div>
      </div>
      <div id="edit-book-event-form-container"><div>
    {% endfor %}
  </div>
</section>
</div>

<script>
  $(document).ready(function(){
    $(".cancelMyBooking").on("click", function(e) {
      e.preventDefault();
      var bookingId = $(this).data("id");
      if (confirm("Delete this booking?")) {
        $.ajax({
            type: "DELETE",
            url: "/mybookings/" + bookingId,
            data: {bookingId: bookingId},
            success: function() {
                // reload the page after successful deletion
                window.location.reload(); 
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error(errorThrown);
            }
        });
      }
    });
  });
</script>

<script>
  $(document).ready(function() {
  $(".editMyBooking").click(function() {
    var bookingId = $(this).attr("href").split('/')[2];
    $.ajax({
      url: "/editMybooking/"+ bookingId ,
      success: function(data) {
        $("#edit-book-event-form-container").html(data);
      }
    });
  }); 
});
</script>
{% endblock content %}